/*CSS Reset Sheet*/


/* ——---———RESET——-———-*/

html, body, section,header, footer, div, span, aside, article, figure, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, a, img, dl, dt, dd, ol, ul, li,
form,table, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
}

/* ----------ADJUST FOR html5---——-*/
header, section, article, aside, nav, footer, figure, hgroup{
	display: block;
}

/* ----------ADJUST HEADINGS--——-*/
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

/* ----------ADJUST HEIGHTS--——-*/


html, body{
	margin: 0px;
	font-size: 18px;
	background-color: #00ADEF;
	font-family: arial-narrow, arial, helvetica, san serif;
	height: 100%;
	color: #207FA0;
	border-collapse: callapse;
}

header{
	/*background-image: url(images/banner.jpg);
	background-repeat: no repeat;*/
	margin: 0px auto;
	/*height: 291px;*/
	clear: both;
	width: 100%;
}

nav{
	width: 960px;
	margin: 0px auto;	
}

aside{
	font-size: .9em;
}

aside.grid_1{
	margin: 0px;
	/*border-right: 1px solid #00ADEF;*/
}

aside ul{
	list-style-type: square;
	text-decoration: none;
	/*margin-left: 1em;*/
}

aside l1 ul{
	margin-left: 10px;
}

aside li{
	margin: 1em 0em;
}

aside a{
	text-decoration: none;
}

aside h1{
	font-size: 1em;
	color: white;
	padding: 0.5em 0em;
	background-color: #00ADEF;
	border: none;
	margin: 0px 0px 1em 0px;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

footer{
	width: 948px;
	margin: 0px auto;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-size: 0.8em;
}

h1{
	color: /*#00ADEF*/white;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
	/*border: 2px solid #00ADEF;*/
	margin-top: 1em;
	padding: 0.5em 0em;
	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	background-color: #00ADEF;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

h1.normal{
	text-align: left;
	background-color: white;
	color: #00ADEF;
	border: none;
	font-size: 1.5em;
}

h2{
	color: #E29E39;
	font-size: 1em;
	margin-bottom: 1em;
	border-bottom: 3px solid #00ADEF;
	padding-bottom: .5em;
	clear: both;
	/*margin-top: 2em;*/
	display: block;
	float: left;
	width: 100%;
	text-align: left;
}

h3{
	color: #E29E39;
	font-size: 1em;
}

p{
	margin: 0px 0px 2em 0px;
	padding: 0px;
	/*float: left;
	width: 46%;*/
}

p.places{
	margin: 0px 2%;
	padding: 0px;
	float: left;
	width: 46%;
}

p img{
	width: 60%;
}
img.left{
	float:left;
	width: 100%;
}

img.places{
	float: left;
	margin: 0px 0px 50px 0px;
	width: 49%;
}

img.center{
	margin: 0px auto;
	display: block;
}

img.contact{
	width: 100%;
}

img.id{
	float: right;
	width: 35%;
	margin: 0px 0px 20px 20px;
}

div.grid_3{
	border: none;
}

a:link {
	text-decoration: underline;
	color: #00ADEF;/*blue*/
}

a:visited {
	text-decoration: underline;
	color: #00ADEF;
}

a:hover {
	text-decoration: underline;
	color: #008CC2;
}

table{
	width: 100%;
	color: #00ADEF;/*blue*/
	border-collapse:collapse;
	font-size: 1em;
	margin-bottom: 2em;
	/*clear: both;*/
}

caption{
	color: #E29E39;
	margin-bottom: 10px;
	font-weight: bold;
}

table,td{
	padding: 5px 15px;
	/*vertical-align: bottom;*/
}

table,th{
	border: 2px #00ADEF solid;
	padding: 5px 15px;
}

th{
	background-color: #00ADEF;
	color: white;
	text-align: left;
}

td{
	/*border-bottom: 2px #00ADEF solid;
	width: 25%;*/
	text-align: right;
	
	font-size: .8em;
}

td.text_left{
	text-align: left;
}

col.first{
	/*background-color: #00ADEF;*/
}

tr:nth-child(odd)		{ background-color: #eee; }
tr:nth-child(even)		{ background-color: #fff; }

figcaption{
	font-style: italic;
	color: #207FA0;
	font-size: .9em;
}

form{
	/*width: 20em;*/
	display: block;
	margin: 0em 0;
	padding: 2em 0% 1.5em 0%;
	background-color: #eee;
	 -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	border:1px solid #207FA0;
	clear: both;
	width: 96%;
	float: left;
}

form label {
    width:80%;
	display: block;
    /*float:left;
	line-height: 1em;*/
	clear: both;
    font-size: .8em;
    
    font-weight:bold;
	/*border:1px solid #207FA0;*/
	margin: 0px auto;
}

fieldset{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border:1px solid #207FA0;
	/*padding: 1em;*/
}

form textarea{
	width:50%;
	display: block;
    margin: 0px auto;
	/*margin-left: 2em;
	float: left;*/
    line-height:1em;
    padding:0.3em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #207FA0;
}

form input {
    width:50%;
	display: block;
    margin: 0px auto;
	/*margin-left: 2em;
    line-height:1em;*/
    padding:0.3em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #207FA0;
}


form input[type=submit] {
	width:10em;
	display: block;
    border:2px solid #06C;
    background-color:#09F;
    color:#fff;
    font-weight:bold;
	margin: 0em auto;
}

form input[name=comments] {
    width: 20em;
	height: 10em;
	
}