<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
   
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwWWa1PPH4BlT-uxPzdM-tv98jKuUEJBE&callback=initMap"></script>
    <script>
		var map;
		function initMap() {
			var citymap = {
				Washington: {
					center: new google.maps.LatLng(38.899111, -76.896564),
					radius: 48000
				},
				Baltimore: {
					center: new google.maps.LatLng(39.290873, -76.614571),
					radius: 48000
				},
				Philadelphia: {
					center: new google.maps.LatLng(39.946474, -74.982683),
					radius: 48000
				}
			};
			
			var styles = [
				{
					featureType: 'administrative',
					elementType: 'labels',
					stylers: [
						{visibility: 'simplified'},
						{lightness: '25'}
					]
				},
				{
					featureType: 'administrative.locality',
					elementType: 'labels',
					stylers: [
						{visibility: 'off'}
					]
				},
				{
					featureType: 'landscape',
					elementType: 'all',
					stylers: [
						{visibility: 'off'}
					]
				},
				{
					featureType: 'road',
					elementType: 'all',
					stylers: [
						{visibility: 'off'}
					]
				},
				{
					featureType: 'poi',
					elementType: 'all',
					stylers: [
						{visibility: 'off'}
					]
				}
			];
			
			var mapOptions = {
				styles: styles,
				zoom: 6,
				center: new google.maps.LatLng(39.605485, -76.076990),
				mapTypeId: google.maps.MapTypeId.TERRAIN,
				draggable: false,
				zoomControl: false,
				scrollwheel: false,
				disableDoubleClickZoom: true
				//disableDefaultUI: true
			};
			
			// Construct the circle for each value in citymap.
			// Note: We scale the area of the circle based on the population.
			
		
			map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
			
			for (var city in citymap) {
				var populationOptions = {
					strokeColor: '#FF0000',
					strokeOpacity: 0.8,
					strokeWeight: 0,
					fillColor: '#FF0000',
					fillOpacity: 0.35,
					map: map,
					center: citymap[city].center,
					radius: citymap[city].radius
				};
				// Add the circle for this city to the map.
				var cityCircle = new google.maps.Circle(populationOptions);
			}
		}

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>